@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;700&display=swap');

body {
  margin: 0;
  font-family: Inter;
  font-weight: 200;
  background-color: hsl(233, 47%, 7%);
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 550px){
  body{
    margin: 30px;
  }
}